{{> menu}}

<section class="section">
  <h1 class="title is-3 has-text-danger">Access Denied</h1>
  <p class="subtitle">You do not have permission to view this page.</p>
  <a href="/" class="button is-light">Return Home</a>
</section>
