{{> menu active="admin"}}

<section class="section">
  <h1 class="title is-3 has-text-danger">Admin Dashboard</h1>
  <div class="content">
    <ul>
      <li><strong>Total Users:</strong> {{userCount}}</li>
      <li><strong>Total Categories:</strong> {{categoryCount}}</li>
      <li><strong>Total POIs:</strong> {{poiCount}}</li>
    </ul>
  </div>
</section>
