<form class="box" action="/category/{{category._id}}/addpoi" method="POST">
  <label>Enter POI Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter POI Name" name="name" required>
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="description" required>
      </div>
      <div class="field">
        <input class="input" type="number" step="0.000001" placeholder="Latitude" name="latitude" required>
      </div>
      <div class="field">
        <input class="input" type="number" step="0.000001" placeholder="Longitude" name="longitude" required>
      </div>
    </div>
  </div>
  <button class="button is-primary">Add POI</button>
</form>
