<header class="p-4 has-text-centered">
  <img src="/images/logo.png" alt="Wanderly Logo" width="100">
  <h1 class="title mt-2">Welcome to Wanderly</h1>
  <p class="strapline is-italic">Not all those who wander are lost...</p>
</header>
